# Example configs
# Update entries in ALL CAPS

# Loopia
daemon=300
ssl=yes
protocol=dyndns2
custom=yes
server=dyndns.loopia.se
use=web, web=dyndns.loopia.se/checkip, web-skip='Current IP Address:'
login=USERNAME
password=PASSWORD
wildcard=no
EXAMPLE1.com,EXAMPLE2.se,EXAMPLE3.org

# Cloudflare
#daemon=300
#ssl=yes
#protocol=cloudflare
#use=web
#server=api.cloudflare.com/client/v4
#login=USERNAME
#password=PASSWORD
#zone=HOSTNAME.TLD
#EXAMPLE1.com,EXAMPLE2.se,EXAMPLE3.org
